@charset "utf-8";
/* #Reset & Basics ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {min-width:320px;  display: flex; flex-direction: column; justify-content: space-between; overflow-x: hidden;}
ol, ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
:root {
  --primary: #ed4a6e;
  --secondary: #925498;
  --hover: #C64C8C;
  --lightgray: #f4f4f4;
  --gray : #444444;
  --darkgray : #252f3c;
}

/* #Basic Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body, html {font-size:16px; line-height:1.6em; font-family: 'Poppins', sans-serif; font-weight:400; color:var(--darkgray); -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:100%; height:100%;}
a, a:visited {text-decoration:none; outline:0; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
p a, p a:visited {line-height: inherit;}
li {line-height:1.4em;}
h1, h2, h3, h4, h5, h6 {font-weight:600;}
strong {font-weight:600;}
em {font-style:italic;}
small {font-size:85%;}
sup {font-size:75%; vertical-align: super;}
img {vertical-align:top; max-width:100%; height:auto;}
main {flex: 1 0 auto;}
*, *:before, *:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

/* #Misc ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.no-touchevents a[href^="tel:"] {pointer-events: none; cursor: text; }
.sr-only { position: absolute; left:-10000px; top:auto; width:1px; height:1px; overflow: hidden;}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.text-center {text-align:center;}
.container {margin: 0 auto; position:relative; padding: 0; width:90%; max-width:1400px; z-index:1;}
.smallwrap {margin: 0 auto; width:96%; max-width:900px;}
.bigfont {font-size:1.1em; line-height: 1.6em; letter-spacing: 1px;}

.col12, .col23, .col13, .col14 {width:48%; position: relative;}
.col23 {width:65.333%;}
.col13 {width:30.666%;}
.col50 {width:50%;}
.rightimg {float:right; margin:0 0 20px 40px;}

.row {display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex: 0 1 auto; -webkit-flex: 0 1 auto; flex: 0 1 auto; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap:wrap;}
.nowrap {-webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap:nowrap;}
.row-reverse {-webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction:row-reverse;}
.itemcenter {align-items:center;}
.justify {-webkit-justify-content:space-between; -ms-justify-content:space-between; justify-content:space-between;}
.contentcenter {-webkit-justify-content:center; -ms-justify-content:center; justify-content:center;}

/* #header ~~~~~~~~~~~~~~~~~~~~~~~~ */
.header {position:fixed; width:100%; z-index:15; height:130px; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
.logo {width:160px;}
.logo, .logo img {-webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}

.fixed .header {height:80px; background-color: white; -webkit-box-shadow: 0px 0 6px 0px rgba(0,0,0,0.1); box-shadow: 0px 0 6px 0px rgba(0,0,0,0.1);}
.fixed .logo {width:100px;}

.banner {width:100%; position:relative; overflow: hidden; background:url(../images/banner-bg.svg) bottom center no-repeat;
background-size: 100%; padding-top:120px;}
.banner img{width:100%;}
.banner > .row > div {width:40%;}
.banner > .row .bannerImg {width:35%;}

.space-wrap {position:relative; padding-bottom:60px; padding-top:60px;}
.space-wrap.editor h2{color: var(--secondary); font-size:2em; margin-top:0;}

.grid:after { content: ''; display: block; clear: both;}
.grid-sizer,
.grid-item { width: 32.333%; width: calc(33.333% - 20px);}
.grid-item {float: left; margin:15px 0;}
.grid-item img { display: block; max-width: 100%;}

.footer {background-color:var(--darkgray); padding: 40px 0 20px; color:var(--lightgray);}
.footer .fLogo { width: 180px; display: block; margin: auto;}
.footer a {color:var(--lightgray);} 
.footer a:hover {color:var(--primary);}
.footer [class^="bi-"], [class*=" bi-"] {font-size: 0.5em; padding-right: 7px;}
.socail a { border: 1px solid; width: 34px; height: 34px; border-radius: 100%; margin-right: 6px; padding: 7px;}
.socail i {display:block; padding-right:0;}
.footer .socail a:hover {text-decoration: none;}
.fMenu {margin:20px 0;}
.fMenu > li {position:relative;}
.fMenu li a {color:var(--lightgray); padding:0px 20px; display:block; line-height:44px; position: relative;}
.fMenu > li:hover > a, .fMenu > li.active > a{color:var(--hover);}
.footer .copyright {padding-top:20px; border-top:1px solid rgba(255, 255, 255, 0.1); font-size: 0.9em;}

.editor h1 {font-size:2.2em; line-height:1.1em; margin-bottom:20px; font-weight: 600;}
.editor h2 {font-size:1.4em; margin:15px 0; color: var(--primary); }
.editor h3 {font-size:1.3em; margin:15px 0;}
.editor h4 {font-size:1.1em; margin:15px 0;}
.editor h5 {font-size:1em; margin: 25px 0 10px; text-transform: uppercase; letter-spacing:1px;}
.editor h6 {font-size:1em; margin:15px 0;}
.editor ul {margin:20px 0 20px 5px;}
.editor ul li {background:url(//dwscbcy9jc8hm.cloudfront.net/sites/214/comfy/cms/files/13851/files/original/dot.png) 0 10px no-repeat; padding:0 0 0 17px; margin:0 0 8px 0; display:block;}
.editor ol {margin:20px 0 20px 10px;}
.editor ol li {padding:0px 0 15px 0px; list-style-type: decimal; margin-left:15px;}
.editor table {margin:10px 0 10px 0; font-size:.9em; color:var(--gray); background-color:white;}
.editor table th {padding:5px; text-align:left; font-size:1.1em; font-weight: 500; background-color:#46ae45; border: 1px solid #a6c7a6; color:white;}
.editor table td {padding:5px; text-align:left; border: 1px solid #a6c7a6;}
.editor table tr:nth-child(2n+1) td {background-color:#f1f9f0;}
.editor table.no-border {border:none;}
.editor a {color:var(--primary); text-decoration:none;}
.editor a:hover {text-decoration:underline;}
.editor p {margin-bottom:15px;}
.editor p:last-child {margin-bottom:0;}
.editor hr{clear:both; font-size:1px; line-height:1px; height:1px; margin:30px 0; border:0px; border-top:1px solid #ddd;}

.editor .btn a {display: inline-block; min-width:140px; text-align: center; color:white; background-color: var(--primary); padding: 8px 20px; margin-top: 10px; font-size: .9em; cursor: pointer; text-transform: uppercase; font-weight:500;}
.editor .btn a:hover {text-decoration:none; background-color: var(--hover);}

.twocolumn{ -moz-column-count: 2; -webkit-column-count: 2; column-count: 2;}
.content {padding-top:30px; padding-bottom:30px; min-height: 240px;}

.editor.content a {text-decoration: underline;}
.editor.content a:hover {text-decoration: none;}
.editor.content .btn a {text-decoration: none;}

/* Navigation */
.nav{position: relative;}
.menu, .menu > li {display: -ms-flexbox; display: -webkit-flex; display: flex;}
.menu > li {position:relative; padding:0px 20px;}
.menu li a {color:var(--darkgray); margin:0; display:block;}
.menu > li > a {line-height:44px; position: relative; font-size: 1.1em; font-weight: 500;}
.menu > li:last-child {background-color:var(--primary);}
.menu > li:last-child > a {color:white;}
.menu > li > a:after {content: ""; position: absolute; width:0; height:2px; left:0; background-color:var(--primary); bottom:0;  opacity: 0; -webkit-transition: all 300ms ease-out; transition: all 300ms ease-out;}
.menu > li.active > a, .menu > li:hover > a {color:var(--primary);}
.menu > li:hover > a:after, .menu > li.active > a:after{opacity:1; width: 100%;}
.menu > li:last-child.active, .menu > li:last-child:hover {background-color:var(--hover);}
.menu > li:last-child.active > a, .menu > li:last-child:hover > a {color:white;}
.menu > li:last-child > a:after {display: none;}

/* Mobile */
#menu-trigger {display:none; position:relative; z-index:11; width:30px; height:34px; cursor:pointer; margin-left: 20px;}
#menu-trigger span, #menu-trigger span:before, #menu-trigger span:after {position:absolute; width:100%; left:0; right:0; height:3px; background-color:var(--primary); -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
#menu-trigger span { top:50%; margin:-1px auto auto; display: block; font-size: 0px;}
#menu-trigger span:after {top:10px; content: '';}
#menu-trigger span:before {top:-10px; content: '';}

.mobimenu #menu-trigger span {background-color: transparent;}
.mobimenu #menu-trigger span:before{-webkit-transform: translateY(0) rotate(45deg); transform: translateY(0) rotate(45deg); top:0; left:0;}
.mobimenu #menu-trigger span:after { -webkit-transform: translateY(0) rotate(-45deg); transform: translateY(0) rotate(-45deg); top:0; left:0;}


@media screen and (max-width: 1023px){
  body {display: block;}
  .header {position: relative; height: initial;}
  .banner {margin-top: 0;}
  .fixed .header { height: initial; -webkit-box-shadow:none; box-shadow:none;}
  .fixed .logo {width:160px;}
  .space-wrap {padding-bottom:50px; padding-top:50px;}

  .nav, .mobimenu .nav, .menu > li:hover > ul, .menu > li > a:after, .fixed .logo .sticky-logo { display:none; }
  #menu-trigger, .mobimenu .nav, .fixed .logo .header-logo {display:block;}

  .nav {position:absolute; top:100%; right: 0; z-index:5; background-color:var(--primary); width:290px;}
  .menu {display: block;}
  .menu ul, .menu > li li:hover > ul, .menu > li:hover > ul {display:none; width: inherit; padding-right:40px; position:relative; left:inherit; top:inherit; right: inherit;  -webkit-box-shadow:none;  -moz-box-shadow:none;  box-shadow:none; animation: none; visibility: visible; opacity: 1; background-color: transparent; padding: 0;}
  .menu .mega-menu > ul {column-count: inherit;}
  .menu > li {padding:0; display:block; border-right:none; border-bottom:1px solid rgba(255, 255, 255, 0.2);}
  .menu > li > a {line-height: 1.3em;}
  .menu li a {position:relative; display:block; margin-right:40px; padding:10px 10px 10px 15px; color:white;}
  .menu li ul li a { margin-bottom:0; color:white; padding: 5px 15px; font-size: 0.9em;}
  .menu > li:hover > a, .menu > li.active > a, .menu li ul li:hover > a, 
  .menu li:hover li > a:hover, .menu li:hover li:hover > a, .menu ul li:hover li:hover > a:hover, .menu li.active li.active li.active > a, .menu li ul li:hover ul li:hover > a, .menu li.active li.active > a {color:var(--hover); background-color: transparent;}
  .menu li .arrow {position: absolute; top:0; right:-40px; width:40px; height:100%; background-color:rgba(0, 0, 0, 0.2); cursor:pointer;}
  .menu li .arrow:after, .menu li .arrow:before {left:50%; top:50%; content: " "; height:2px; width:12px; position: absolute; background-color:var(--hover); pointer-events: none; -webkit-transition: 0.3s all; -moz-transition: 0.3s all; transition: 0.3s all;}
  .menu li .arrow:after {width:2px; height:12px; margin-top:-5px;}
  .menu li .arrow:before {margin-left:-5px;}
  .menu > li.open > a >.arrow:after, .menu > li.open li.open > a >.arrow:after { display:none;}
}

@media screen and (max-width:767px) {
  body, html {font-size:16px; line-height: 1.4em;}
  .editor h1 {font-size: 1.8em;}
  .tagline {padding: 10px; bottom:0; font-size: 1.8em;}

  .header {padding-top:5px; padding-bottom:5px;}
  .logo, .fixed .logo { width: 120px;}
  .homebanner .slick-dots {right:5px;}
  .space-wrap {padding-bottom: 30px; padding-top: 30px;}

  .footer .ft-logo { width: 100px; margin-right: 15px;}
  .contacts {padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #ccc; -webkit-justify-content: center; -ms-justify-content: center; justify-content: center;}
  .footer-wrap > div {width: 100%;}
  .footer .twocolumn { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2;}
  .footer .copyright span { display: block; padding: 3px; font-size: 0; line-height: 1em;}

  .content {padding:20px 0;}
  .col12, .col23, .col13, .col50 {width: 100%;}
  .col12 + .col12 {margin-top:20px;}
  .twocolumn { -moz-column-count: inherit; -webkit-column-count: inherit; column-count: inherit;}

}
@media screen and (max-width:479px) {
  body, html {font-size:15px;}
  .wraper, .smallwrap {width: 90%;}

}
@media print {
  body { font: 13pt Georgia, "Times New Roman", Times, serif; line-height: 1.3; background: #fff; color: #000;}
  h1 {font-size: 24pt;}
  h2, h3, h4 { font-size: 14pt;}
  a,blockquote, table, pre {page-break-inside:avoid}
  h1, h2, h3, h4, h5, h6, img { page-break-after:avoid;  page-break-inside:avoid }
  ul, ol, dl  { page-break-before:avoid }
  a:link, a:visited, a { color: #520; font-weight: bold; text-decoration: underline;}
  .logo img {width: 160px;}
  .banner, .bigBgBox, .bgbox { display:none;}
}